.footer{
    background-color: #1a1831;
    /* border-top: 2px solid rgba(0, 0, 0, 0.4); */
    border-top-left-radius: 225px;
    box-shadow: 6px -6px 186px -31px rgba(47,103,71,1);

}
.footer_container{
    padding: 2rem 0 6rem;
}
/* .footer_title,
.footer--link{
    color: #A9A9A9;
} */
.footer_title{
    color: #A9A9A9;
    text-align: center;
    margin-bottom: var(--mb-2);
}
/* .footer--link{
    color: #808080;
} */
/* .footer--list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
} */
.footer_socials{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer_social_link{
    background-color: #272447;
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: .5rem;
    /* display: inline-flex; */
}
.footer_social_link:hover{
    background-color: #302e44;
}
.footer_copy{
    display: block;
    margin-top: 3.5rem;
    color: #A9A9A9;
    text-align: center;
    font-size: var(--small-font-size);
}

@media screen and (max-width: 992px) {
    .footer__social_link{
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}